<div class="container user">
      <div class="userPhoto margin"><%= image_tag("#{@users.photo}", alt: 'Profile picture') %></div>
      <div class="userInfo margin">
        <h2><%= @users.name %></h2>
        <p><%= "Number of posts: #{@users.posts_counter}"%></p>
      </div>
</div>

<div class="margin bio">
  <h3>Bio</h3><br>
  <p><%= @users.bio%></p>
</div>

<% @users.post_recent.each do |post|%>
  <div class="margin posts">
    <h3><%= link_to "Post # #{post.id}", user_post_path(@users, post.id) %></h3>
    <br><p><%= post.text %></p>
    <br><i><%= "Comments #{post.comments_counter}, Likes #{post.likes_counter}"%></i>
  </div>
<%end %>

<div class="container">
  <button class='button_footer'><%= link_to 'Create new Post', new_user_post_path(@users) %></button> 
  <%= link_to 'See all posts', user_posts_path(@users), class: 'button_footer' %>
</button>