<div class="container margin desc">
  <h1><%="Post #{@post.id} by #{@post.author.name}"%></h1>
  <i><%="Comments: #{@post.comments_counter}, Likes #{@post.likes_counter}"%></i>
  <p><%=@post.text%></p>  
</div>

<div class="posts margin">
  <h2>Comments</h2>
  <% @post.comments.each do |comment|%>
    <%= "#{comment.author.name}: #{comment.text}"%><br><br>
  <%end%>
</div>

<div class="form">
   <%= render 'comments/form' %>
</div>

<div class="form">
<%= form_with(model: [@author, @post, @like], url: user_post_likes_path(@author, @post), method: :post) do |form| %>
  <%= form.submit 'Gift a like', class: 'button_footer' %>
<% end %>
</div>
