<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="credentials">
    <% if user_signed_in? %>
      <button class='buttonsCred'><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %></button>
    <% else %>
      <p> If you have account, you can <button class='buttonsCred'><%= link_to 'Sign In', new_user_session_path %></button></p>
      <p> If not, you can create new one<button class='buttonsCred'><%= link_to 'Sign Up', new_user_registration_path %></button></p>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
